<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <form action="/students" method="get">
        <button type="submit", class="buttons", style="background-color: #e8bd11">Students</button>
    </form>
    <form action="/books" method="get">
        <button type="submit", class="buttons", style="background-color: #1192e8">Books</button>
    </form>
</head>
<body>
    
</body>
</html>